/* Fontes de escrita */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Junge&display=swap');

:root {
    --cor-texto: #ffffffff;
    --cor-fundo: #000000;
}

body {
    background-color: black;
    overflow: hidden;
}

/* Main */
main::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 80vw;

    background: rgb(2, 1, 3);
    background: linear-gradient(125deg, rgba(2, 1, 3, 0.8912394662921348) 35%, rgba(183, 184, 196, 0) 43%, rgba(255, 255, 255, 0) 100%);
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .personagem .conteudo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 5%;
    min-height: 100vh;
    max-width: 40vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.conteudo .nome-personagem {
    color: var(--cor-texto);
    font-size: 15vh;
    font-family: "Junge";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    font-family: cinzel;
    color: var(--cor-texto);
    font-size: 2.7vh;
    line-height: 2.5vh;

    max-height: 60vh;
}

/* logo */
.conteudo .logo {
    background-image: url("../imagens/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 20vh;
    width: 40vw;
}

/* botoes */
.botoes {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 22vw;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.botoes .botao {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    max-width: 8vw;
    max-height: 10vh;
    border-radius: 50%;
}

.botoes .botao.ativo {
    transform: scale(1.25);
    box-shadow: 0 0 4vw var(--cor-texto);
}